@import url("style.css");

button,  input[type="submit"]{
  background-color: var(--color-black);
  color: var(--color-primary);
  border: none;
  padding: 12px 24px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);
  border-radius: 5rem;
  width: min-content;
  white-space: nowrap;
  font-family: 'Poppins', sans-serif v;
  transition: 400ms;
}

button:hover {
  opacity: 0.9;
}

button:active {
  transform: scale(0.98);
}

button[color="white"]:hover {
  background-color: var(--color-secondary-gray2);
  transition: 400ms;
}

button[color="white"],
button[color="white2"],
input[color="white"] {
  background-color: var(--color-white);
  color: var(--color-secondary);
  font-size: var(--text-normal);
}

button[color="white2"] {
  padding: .5rem 1rem;
  border: .1rem solid var(--color-secondary-gray);
  font-size: var(--text-sm);
  display: flex;
  align-items: center;
}
button[color="gray2"] {
  padding: .5rem 1rem;
  border-bottom: .2rem solid var(--color-secondary-orange);
  font-size: var(--text-sm);
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 0;
  color: var(--color-secondary-gray);
}

button[color="white2"] img {
  margin-left: .5rem;
  object-fit: cover;
  transform: rotate(180deg);
  height: auto;
  width: var(--text-base);
}

button[color="gray"] {
  background-color: var(--color-secondary-gray2);
  color: var(--color-secondary);
}

button[color="black2"] {
  background-color: transparent;
  border: 0.1rem solid var(--color-secondary-gray);
}

button[size="small"] {
  font-size: 0.8rem;
  padding: 8px 16px;
}

button[size="large"] {
  font-size: 1.2rem;
  padding: 16px 32px;
}

@media (max-width: 900px) {
  button {
    padding: .5rem ;
    font-size: .75rem !important;
  }
}