.banner {
  background-color: var(--color-secondary);
  width: 100%;
    position: fixed;
    top: 0;
    z-index: 4;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}
.cart-portrait {
  display: flex;
  flex-direction: column;
  padding: var(--text-md);
  background-color: var(--color-white);
  border-radius: 1rem;
  width: min-content;
}

.cart-image {
  width: var(--text-9xl);
  object-fit: cover;
  height: auto;
  background-color: var(--color-white-gray);
  border-radius: 1rem;
  padding: 1.5rem;
}

.footer img {
  width: auto;
  object-fit: cover;
  height: 1.5rem;
  transform: rotate(180deg);
}

.cart-portrait h3 {
  margin-top: 1rem;
  text-align: left;
}

.cart-portrait .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.cart-portrait p {
  color: var(--color-secondary);
}

.container-nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: min-content;
}

.search-component {
  width: 9rem;
  padding: 0.5rem 0.75rem;
  font-size: var(--text-sm);
  border: 1px solid var(--color-secondary-gray2);
  transition: 200ms ease;
  outline: none;
  box-shadow: none;
  appearance: none;
  height: min-content;
  border-radius: 2rem;
}


.search-component::placeholder {
  color: var(--color-secondary-gray);
  opacity: 1;
}

.search-component:focus {
  border-color: var(--color-secondary-gray);
  width: 12rem;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: calc(100% - 1rem);
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  position: fixed;
  top: 1.5rem;
  z-index: 3;
  gap: 1rem;
  background-color: var(--color-white);
}
.header {
  display: flex;
  flex-direction: column;
  
    z-index: 3;
}
.user-module,
.guest-module {
  display: none;
  align-items: center;
  gap: 2rem;
}

.container-login {
  display: flex;
  gap: 2rem;
  justify-content: end;
}

.guest-module {
  gap: .5rem;
}

li {
  list-style: none;
  position: relative;
  padding-bottom: 0.25rem;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--color-secondary);
}

li::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0.1rem;
  background: #000;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 250ms ease;
}

li:hover a {
  color: var(--color-secondary-orange);
}

li:hover::before,
li:focus-within::before {
  transform: scaleX(1);
  background: var(--color-secondary-orange);
}

.logo {
  font-family: Arial, italic;
}

.container-nav-mobile .icons {
  height: 1.2rem;
}

.container-nav-mobile {
  display: none;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  bottom: 1rem;
  background-color: var(--color-white);
  border-radius: 2rem;
  z-index: 3;
  padding: 1rem;
  box-shadow: 1rem 1rem 2rem var(--color-secondary-gray2);
  max-width: 100%;
  overflow: hidden;
  left: 50%;
  gap: .5rem;
  transform: translate(-50%, -50%);
}

.container-nav-mobile li {
  align-items: center;
  display: flex;

  gap: 0.2rem;
}

.container-search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: right;
}

.icon {
  position: absolute;
  top: .5rem;
  right: 0.5rem;
}

.icon img {
  width: var(--text-lg);
  height: auto;
  object-fit: cover;
}
  .down {
    animation: fadedown both;
    animation-timeline: view(10% 2%);
    animation-delay: 6s;
  }
.right {
  animation: faderight both;
  animation-timeline: view(70% 15%);
}
.startDown {
  animation: 600ms linear 0.1s lineardown;
}
@keyframes faderight {
  0% {
    transform: translateX(10%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
  @keyframes fadedown {
    0% {
      transform: translateY(20rem) scale(0.3);
    }

    100% {
      transform: translateY(0) scale(1);
    }
  }
  @keyframes lineardown {
    0% {
      transform: translateY(5rem) ;
      opacity: 0;
    }

    100% {
      transform: translateY(0) ;
      opacity: 1;
    }
  }
.container-paragraph div {
  max-width: 80%;
}
@keyframes autoBlurMotion {
  0% {
    filter: blur(1.5rem);
    transform: translateY(1.75rem);
  }

  45% {
    transform: translateY(1.25rem);
  }

  100% {
    transform: translateY(0);
    filter: blur(0);
  }
}
.blur {
  animation: autoBlurMotion linear both;
  animation-timeline: view();
  animation-range: entry 30% cover 50%;
}
.container-paragraph {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15rem 0;
}

.container-paragraph img {
  position: absolute;
}

.container-products {
  overflow: hidden;
}

.slider {
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0 auto;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto;
  grid-gap: 0 2rem;
  padding: 30px 60px;
  padding-right: 0;
}

.container-products h1 {
  padding: 0 1rem;
}

.card-product {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: min-content;
  position: relative;
  cursor: pointer;
}

.description {
  display: flex;
  flex-direction: column;
}

.new-item {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  background-color: var(--color-secondary-orange);
  color: var(--color-secondary-orange2);
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  z-index: 2;
}

.card-product .cover {
  padding: 2rem 1rem;
  background-color: var(--color-white-gray);
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.card-product .cover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary-gray);
  opacity: 0;
  transition: all 0.3s ease;
}

.card-product:hover .cover::after {
  opacity: 0.3;
  transition: all 0.3s ease;
}

.card-product .cover img {
  height: 100%;
  min-height: 12rem;
  object-fit: cover;
}

.column-elements {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  position: relative;
}

.column-elements .text {
  width: min-content;
  position: relative;
  z-index: 2;
  animation: changecolor linear forwards;
  animation-timeline: view();
  animation-range: cover 40% cover 60%;
  color: var(--color-secondary-gray3);
}

.container-questions {
  background-color: var(--color-white-gray);
  padding: 3rem 2rem;
}

.container-questions h1 {
  padding: 1rem 0;
  border-bottom: 0.1rem solid var(--color-secondary-gray);
}

.question-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question {
  border-bottom: 0.1rem solid var(--color-secondary-gray);
  padding: 1rem 0;
}

.desc-question {
  /* height: 0; */
  overflow: hidden;
  transition: all 0.3s ease;
  display: flex;
}

.question-img {
  transition: all 0.3s ease;
  transform: rotate(-180deg);
}

.desc-active {
  height: min-content;
  transition: all 0.3s ease;
}

.btn-question {
  cursor: pointer;

}

@keyframes changecolor {
  0% {
    color: var(--color-secondary-gray3);
  }

  50% {
    color: var(--color-secondary-orange);
  }

  100% {
    color: var(--color-secondary-gray3);
  }
}

.text::before {
  position: absolute;
  content: attr(data-word);
  color: var(--color-secondary-orange);
  width: 100%;
  height: 100%;
  top: 0;
  right: 80%;
  opacity: 0;
  margin-right: 4rem;
  z-index: 1;
  animation: textApeeringRight linear forwards;
  animation-timeline: view();
  animation-range: cover 40% cover 60%;
}

.text::after {
  position: absolute;
  content: attr(data-word);
  color: var(--color-secondary-orange);
  width: 100%;
  height: 100%;
  top: 0;
  left: 80%;
  opacity: 0;
  margin-left: 4rem;
  transition: all 0.3s ease;
  z-index: 1;
  animation: textApeeringLeft linear forwards;
  animation-timeline: view();
  animation-range: cover 40% cover 60%;
}

@keyframes textApeeringLeft {
  0% {
    left: 80%;
    opacity: 0;
  }

  50% {
    left: 100%;
    opacity: 1;
  }

  100% {
    left: 80%;
    opacity: 0;
  }
}

@keyframes textApeeringRight {
  0% {
    right: 80%;
    opacity: 0;
  }

  50% {
    right: 100%;
    opacity: 1;
  }

  100% {
    right: 80%;
    opacity: 0;
  }
}

@keyframes imageBouncing {
  0% {
    transform: rotate(0deg);
    opacity: 0;
    right: 0%;
    bottom: 30%;
  }

  20% {
    transform: rotate(25deg);
    opacity: 0.6;
    right: -30%;
    bottom: 40%;
  }

  30% {
    transform: rotate(15deg);
    opacity: 0.8;
  }

  50% {
    transform: rotate(20deg);
    right: -30%;
    bottom: 40%;
    opacity: 1;
  }

  90% {
    transform: rotate(20deg);
    right: -30%;
    bottom: 40%;
    opacity: 1;
  }

  100% {
    transform: rotate(0deg);
    opacity: 0;
    right: 0%;
    bottom: 30%;
  }
}

.float-image {
  position: absolute;
  opacity: 0;
  right: 0%;
  bottom: 30%;
  transform: rotate(0deg);
  transform-origin: center center;
  z-index: 0;

  will-change: transform, opacity;
  animation: imageBouncing linear forwards;
  animation-timeline: view();
  animation-range: cover 50% cover 70%;
}

.float-image img {
  object-fit: cover;
  height: 9rem;
  width: auto;
  border-radius: 0.5rem;
}

.container-tech {
  background-color: var(--color-black);
  border-radius: 3rem;
  overflow: hidden;
  padding: 4rem;
  color: var(--color-primary);
  position: relative;
}

.container-tech .title {
  display: flex;
  gap: 1rem;
  align-items: center;
}


.container-tech h1 {
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.item-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tech-resume {
  opacity: 1;
  transform: translateY(0);
  transition: 400ms;

}

.tech-resume-gonna-change {
  opacity: 0;
  transform: translateY(-1rem);
  transition: 400ms;
}

.icons {
  height: var(--text-xl);
  object-fit: cover;
  width: auto;
}

.btnPrev,
.btnNext {
  filter: invert(50%);
  height: var(--text-xl);
  object-fit: cover;
  width: auto;
}

.btn-tech-active {
  filter: invert(0);
}

.item-slide {
  /* ESTADO INACTIVO (El pequeño a la izquierda) */
  /* Cálculo: (100% - gap) * 0.30 -> Ocupa el 30% del espacio disponible */
  flex: 0 0 calc((75%) * 0.3);
  height: 300px;
  /* Altura fija o la que necesites */

  /* Animación suave al cambiar de tamaño */
  transition: flex-basis 0.5s ease, opacity 0.5s ease;
  border-radius: 1rem;
  overflow: hidden;
  /* Opcional: bajar opacidad al inactivo para efecto de "preview" */
  /* opacity: 0.6; */
  /* height: 10rem;
  border-radius: 1rem;
  overflow: hidden;
  flex-shrink: 0;
  transition: 800ms;
  background-color: red;
  scroll-snap-align: start;
  width: 100%; */
  transition: 800ms;
}

.active {
  height: 45rem;
  transition: 800ms;
  /* width: 45rem; */
  /* height: 35rem;
  transition: 800ms;
  background-color: red */
  flex: 0 0 calc((75%) * 0.7);
}

.slide::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.slide {
  display: flex;
  /* Flexbox es mejor para elementos que cambian de tamaño */
  gap: 25%;
  /* El espacio entre el pequeño y el grande */
  overflow-x: scroll;
  /* Scroll habilitado */
  scroll-behavior: smooth;
  overflow-y: hidden;
  /* Opcional: Ocultar barra de scroll para limpieza */
  scrollbar-width: none;
  align-items: end;
}

.container-tech .description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: space-around;
  position: absolute;
  width: 30%;
}

.container-support {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-support sub {
  text-align: left;
}

.support-items {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
  width: 100%;
}

.list-item h4 {
  position: relative;
  margin-bottom: 4rem;
  text-align: center;
}

.list-item h3 {
  font-family: "Poppins-Regular";
  color: var(--color-secondary-gray4);
  margin-bottom: 0.8rem;
}

.list-item h4::before {
  content: "";
  border-bottom: 0.1rem solid black;
  width: 100%;
  z-index: 2;
  position: absolute;
  bottom: -1.5rem;
}

.service-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.services-container {
  text-align: center;
  padding: 1rem 0;
}

.service-items h3 {
  font-family: "Poppins-light";
  color: var(--color-secondary-gray4);
}

.service-items img {
  width: 40%;
  height: auto;
  object-fit: cover;
}

.service-items strong {
  font-family: "Poppins-Medium";
  padding-top: 1rem;
}

.service-items .items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.contact ul {
  width: min-content;
}

.contact h1 {
  color: var(--color-primary);
}

.contact p {
  color: var(--color-secondary-gray);
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.socials {
  display: flex;
  gap: 1rem;
  height: var(--text-lg);
}

.socials img {
  height: 100%;
  object-fit: cover;
  width: auto;
}

.container-tech h1 {
  padding-bottom: 2rem;
}

.container-contact {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-black);
  border-radius: 2rem;
  color: var(--color-primary);
  overflow: hidden;
  padding: 4rem;
  gap: 5%;
}

.see-more {
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  align-items: center;
  width: min-content;
  margin-left: auto;
  gap: 2rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-white);
  color: var(--color-secondary);
}



.icon-putter {
  width: auto;
  height: 1.5rem;
}

.icon-putter img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.contact .details {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.contact .container-nav li a {
  color: var(--color-primary) !important;
}

.details h3 {
  line-height: normal !important;
}

.item-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.slider-poster {
  position: relative;
  overflow: hidden;
  /* width: 100%; */
  border-radius: 1.5rem;
  width: 25vw;
  height: 100%;
}

.slide-track {
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto, 100%);
  width: auto;
  /* Desactivar las barras de desplazamiento (Opcional, para un look más limpio) */
  scrollbar-width: none;
  /* Para Firefox */
  -ms-overflow-style: none;
  /* Para IE y Edge */
}

.poster {
  height: auto;
  position: relative;
}

.poster img {
  width: 25vw;
  height: 100%;
  object-fit: cover;
}

.poster .details {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

.mobile {
  display: none;
}

.desktop {
  display: flex;
}


@media (max-width: 900px) {
  .poster img {
    width: calc(100vw - 5.5rem);
    height: 100%;
    object-fit: cover;
  }

  .container-search {
    min-width: 8rem;
  }

  .desktop {
    display: none;
  }

  .container-nav {
    display: none;
  }

  .container-nav-mobile {
    display: flex;


  }
  .column-elements {
    gap: 2rem;
  }

  .icon {
    top: .2rem;
  }

  .mobile {
    display: flex;
  }

  .slider-poster {

    width: auto;
  }

  .poster {
    width: 100%;
  }

  .contact .details {
    display: flex;
    flex-direction: column;
  }

  .item-details {
    flex-direction: row;
  }

  .search-component {
    width: 7rem;
  }

  .search-component:focus {
    width: 8rem;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }

  .container-paragraph div {
    max-width: 90%;
  }



  .description {
    justify-content: center;
    align-items: center;
  }

  .container-tech .description {
    position: relative;
    max-width: auto;
    width: auto;
  }

  .resume {
    text-align: center;
  }

  .container-tech h1 {
    text-align: center;
  }

  .support-items {
    flex-direction: column;
    justify-content: center;
    width: auto;
  }

  .list-item h4 {
    margin-bottom: 2rem;
    width: auto;
  }

  .list-item h4::before {
    content: "";

    bottom: -0.5rem;
  }

  .service-items img {
    width: 20%;
  }

  .service-items {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
  }

  .container-tech {
    overflow: hidden;
    width: 100%;

  }

  .slide {
    /* Cambiamos el flujo a vertical */
    flex-direction: column;
    /* Invertimos el scroll: X oculto, Y activo */
    overflow-x: hidden;
    overflow-y: hidden;

    /* IMPORTANTE: El contenedor necesita altura límite para que haya scroll */
    height: 60dvh;
    /* O la altura que desees que ocupe en pantalla */

    /* Alineación: que ocupen todo el ancho disponible */
    align-items: stretch;
    scroll-snap-type: y mandatory;
    /* Ajusta el gap vertical si es necesario */
    gap: 2rem;
  }

  .slide> :first-child {
    /* Tus estilos aquí */
    visibility: hidden;
    display: none;
  }

  /* 2. CAMBIOS EN LOS ITEMS (INACTIVOS) */
  .item-slide {
    /* Reseteamos el ancho para que ocupe todo el celular */
    width: 80%;
    margin: 0 auto;
    /* Reseteamos la altura fija que tenías antes */
    height: auto;

    /* MAGIA FLEXBOX: 
           Cuando flex-direction es 'column', el 'flex-basis' controla la ALTURA.
           Aquí decimos: "Ocupa el 25% de la altura del contenedor"
        */
    flex: 0 0 25%;
  }

  /* 3. CAMBIOS EN EL ITEM ACTIVO */
  .active {
    width: 100%;
    /* Reseteamos altura fija anterior */
    height: auto;

    /* El activo ocupa la mayor parte de la altura (ej. 70%) */
    flex: 0 0 70%;
  }

  .container-contact {
    padding: 2rem;
    flex-direction: column;
    gap: 3rem;
  }

  .contact {
    gap: 3rem;
  }

  .contact h1 {
    display: inline-block;
    white-space: inherit;
  }

  .container-tech .description {
    position: relative;
    padding-bottom: 1rem;
  }

  .poster {
    width: auto;
    object-fit: cover;
  }
}